 body{
     background: #ccc; 
    }
    .field-inline input, .field input {
      width: 100%;
      font-size: 16px;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 5px 10px;
      box-sizing: border-box; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    .field{
      width: 100%;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .container{
      border-radius: 5px;
      padding: 40px;
      background: #fff;
      margin-top: 10%;
      margin-right: 25%;
      margin-left: 25%;
    }
    .pay-button input{
      background: #ccc;
      width: 100%;
    }
    .pay-button input:focus{   outline-width: 5px;  }
    input:focus{
        outline-width: 0px;
    }
    .field-inline{
      margin-top: -10px;
    }
    .field-inline:before {
      height: 100%;
      width: 100%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }
    .right{      
      float: right;
      width: 30%;
    }
    .left{
      float: left;
      width: 30%!important;
    }

    .grid-1{
     float: left;
      width: 20%!important;
    }

    .grid-2{
     float: left;
      width: 60%!important;
    }
    #date-custom{
      border-radius: 0px;
      border: 0px;
      border-top: 2px solid rgb(204, 204, 204);
      border-bottom: 2px solid rgb(204, 204, 204);      
    }